html { font-size: calc(1em + 1vw) }


body {


  font-family: 'Avenir', sans-serif;
  /* color: #252626; */
  justify-content: center;
  padding: 5%;
  /* padding-top: 20px;
  padding-left: 300px;
  padding-right: 300px;
  padding-bottom: 20px; */
  /* z-index: 2; */
  /* background-color: #f7f6f5; */
  /* #f5f5f7 */

}

p {
  /* font-size: 40px; */
  color: #252626;
  padding: 5px;
  margin: 5px;
  /* z-index: 2; */
}

h1 {
  /* border: 1px solid #252626; */

  text-align: center;
  font-size: 110%;
  margin: 6px;
  padding: 6px;
}

/* h1 { font-size: 2em }
h2 { font-size: 1.5em } */


.bg {
  width: 100%;
  height: auto;
  /* position: relative; */
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
}

.header {
  /* border: 1px solid #252626; */
  display: flex;
  justify-content: center;
}

.inner-div-header-left {
  width: 20%;
  /* border: 1px solid red; */

}

.inner-div-header {
  width: 60%;
  /* border: 1px solid #252626; */
  justify-content: center;
  /* z-index: 1; */
}

.inner-div-header-right {
  width: 20%;
  /* border: 1px solid red; */

}

.header-logo-img {
  display: flex;
  justify-content: flex-end;
  padding-left: 5%;
  z-index: 2;
  width: 70%;
  height: auto;

}

/* html {
  background: url('cridhe_crois_shlighe_graphic2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

a {
  color: #252626;
  text-decoration: none;
  padding: 4px;
}

a:hover {
  color: #ffb366;
  /* background-color: blue; */
  /* border: 1px solid #252626; */

}

.navbar {
  overflow: hidden;
  font-size: 70%;
  border-color: black;
  background: white;
  display: flex;
  /* margin: 6px;*/
  padding: 6px;
  justify-content: center;
  border: 1px solid #252626;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: center;
}

.sticky + .content {
  padding-top: 60px;
  justify-content: center;
}

.section-logos {
  width: 100%;
}

img {
  display: inline-flex;
  /* justify-content: space-around; */
  width: auto;
  height: 120px;
  margin: 6px;
  padding: 6px;

}

.bg-digital {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
  /* z-index: 1; */

}
