html {
  font-size: calc(0.8em + 1vw)
}

body {
  margin: 10;
  font-family: 'Avenir', sans-serif;
  z-index: 2;
}

p {
  color: #252626;
  padding: 10px;
  margin: 10px;
}

h1 {
  text-align: center;
  font-size: 110%;
  margin: 6px;
  padding: 6px;
}

h2 {

}

.bg {
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 1024px;
}

.header {
  display: flex;
  justify-content: center;
}

.inner-div-header-left {
  width: 20%;
}

.inner-div-header {
  width: 60%;
  justify-content: center;
}

.inner-div-header-right {
  width: 20%;
}

.header-logo-img {
  display: flex;
  justify-content: flex-end;
  padding-left: 5%;
  z-index: 2;
  width: 70%;
  height: auto;
}

a {
  color: #252626;
  text-decoration: none;
  padding: 4px;
}

a:hover {
  color: #ffb366;
}

.navbar {
  overflow: hidden;
  width: 100%;
  font-size: 70%;
  background: white;
  display: flex;
  padding: 12px;
  justify-content: center;

}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sticky + .content {
  padding-top: 60px;
  justify-content: center;
}

.section-logos {
  width: 100%;
  justify-content: center;
}

.footer-logos {
  display: flex;
  justify-content: center;
}

.footer-logo {
  display: inline-flex;
  width: auto;
  height: 120px;
  margin: 6px;
  padding: 6px;
}

.bg-digital {
  max-width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.strand-div {
  display: inline-flex;
  justify-content: center;
  padding: 5px;
  max-width: 30%;
  border: 1px solid #252626;
  margin: 15px;
  font-size: calc(0.5em + 0.5vw)
}

/* pre {
  font: 0.5em;
} */
